<header class="header">
    <a href="index.html" class="logo">Kyuumei Neko</a>
    <a href="index.html" class="back-btn">
        <i class='bx bx-arrow-back'></i>
        <span>Back to Home</span>
    </a>
    <div class="menu-btn">
        <i class='bx bx-menu'></i>
    </div>
    <nav class="navbar">
        <ul>
            <li><a href="index.html" data-nav="home">Home</a></li>
            <li><a href="About.html" data-nav="about">About</a></li>
            <li><a href="#blog" data-nav="blog">Blog</a></li>
            <li><a href="#services" data-nav="services">Services</a></li>
            <li><a href="#" data-nav="contact">Contact</a></li>
        </ul>   
    </nav>
</header>