<section class="services section-spacer" id="services">
    <div class="container">
        <h2 class="sec-title">My <span>Services</span></h2>
        <div class="services-grid">
            <a href="my_services/random_password/RandomPassword.html" class="service-box" data-service-path="my_services/random_password/RandomPassword.html">
                <h3>Random Password</h3>
            </a>
            <div class="service-box">
                <h3>Service 2</h3>
            </div>
            <div class="service-box">
                <h3>Service 3</h3>
            </div>
            <div class="service-box">
                <h3>Service 4</h3>
            </div>
            <div class="service-box">
                <h3>Service 5</h3>
            </div>
            <div class="service-box">
                <h3>Service 6</h3>
            </div>
        </div>
    </div>
</section>