<template id="blog-card-template">
    <article class="blog-card">
        <a class="blog-card__media" data-role="media-link" href="#">
            <img data-role="image" src="" alt="">
        </a>
        <div class="blog-card__body">
            <div class="blog-card__content">
                <div class="blog-card__meta">
                    <span class="blog-card__tag" data-role="tag"></span>
                    <time class="blog-card__time" data-role="time"></time>
                </div>
                <h3 class="blog-card__title">
                    <a data-role="title-link" href="#"></a>
                </h3>
                <p class="blog-card__excerpt" data-role="excerpt"></p>
            </div>
            <a class="blog-card__cta" data-role="cta" href="#">Read more</a>
        </div>
    </article>
</template>